@import 'variables.scss';
@import 'mixins.scss';

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: $yellow;
  font-family: "Figtree", sans-serif;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  padding: 0 24px;
}

.card {
  box-sizing: border-box;
  max-width: 384px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 24px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  transition: all 0.2s ease;

  @media (hover: hover) {
    &:hover {
      box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 1);
      cursor: pointer;
  
      .content__title {
        color: $yellow;
        transition: all 0.2s ease;
      }
    }
  }
}

.card__image img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 18px 0 24px;
}

.content__category {
  @include text(700, 14px, black);
  padding: 4px 12px;
  background: $yellow;
  border-radius: 4px;
  line-height: 150%;
  width: fit-content;
}

.content__publishdate {
  @include text(400, 14px, black);
}

.content__title {
  @include text(700, 24px, black);
  line-height: 140%;
  transition: all 0.2s ease;
}

.content__description {
  @include text(400, 16px, $gray);
}

.card__author {
  display: flex;
  align-items: center;
}

.author img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.author__name {
  @include text(700, 14px, black);
}

@media(max-width: 375px) {
  .card__content {
    margin: 18px 0;
  }

  .card__image img {
    width: 100%;
    border-radius: 10px;
  }

  .content__category {
    @include text(700, 12px, black);
  }

  .content__publishdate {
    @include text(400, 12px, black);
  }

  .content__title {
    @include text(700, 20px, black);
  }

  .content__description {
    @include text(400, 14px, $gray);
  }

  .card__author {
    margin-top: -8px;
  }
}